<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Mangement d'article</title>
<link href="./Public/Admin/Css/public.css" type="text/css" rel="stylesheet" />
<script charset="utf-8" src="./Public/Admin/Js/editor/kindeditor-min.js"></script>
<script charset="utf-8" src="./Public/Admin/Js/editor/lang/zh_CN.js"></script>
<script>
//KindEditor
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[name="content"]', {
		allowFileManager : true
	});
});
</script>
</head>

<body>
<table width="100%" border="0" align="center" cellpadding="1" cellspacing="1" class="border">
	<tr class="topbg"><td>Gérer les affiches</td></tr>
	<tr class="tdbg">
		<td height="30">&nbsp;&nbsp;
			<a href="?c=Affiche&a=index">Gérer les affiches</a>&nbsp;|&nbsp;
			<a href="?c=Affiche&a=add">Ajouter</a>
		</td>
	</tr>
</table>
<br />
<form name="form1" method="post" action="?c=affiche&a=update">
<table width="100%" border="0" align="center" cellpadding="3" cellspacing="1" class="border">
	<tr class="title"><td colspan="6" align="center">Modifier</td></tr>
	<tr class="tdbg">
		<td width="17%" height="30" align="right">Catégorie:</td>
		<td>
			<select name="idTypeAffiche">
			
			<{foreach $typesAffiches as $typesAffiche}>
			<option value="<{$typesAffiche.idTypeAffiche}>">
				
				<{$typesAffiche.nomTypeAffiche}>
			</option>
			<{/foreach}>
		</select>
		</td>
	</tr>
        <input name="idAffiche" type="text" style="display:none" value="<{$affiches.idAffiche}>"/>
	<tr class="tdbg">
		<td height="30" align="right">Titre:</td>
		<td colspan="5"><input name="titre" type="text" size="90" maxlength="200" value="<{$affiches.titre}>"/></td>
	</tr>
        <tr class="tdbg">
		<td height="30" align="right">Lieu:</td>
		<td><input name="lieu" type="text" size="90" maxlength="200" value="<{$affiches.lieu}>"/></td>
	</tr>
	<tr class="tdbg">	
		<td>
			<span style="padding-left:20px;">Top:</span>
			<input name="top" type="checkbox" value="1" />
		</td>
	</tr>
	<tr class="tdbg">
		<td height="30" align="right">Description:</td>
		<td><input type="text" name="description" style="width:95%;height:300px;" value="<{$affiches.description}>"/></textarea></td>
	</tr>
        <tr class="tdbg">
		<td height="30" align="right">Photo:</td>
		<td><input name="photo" type="file" size="90" maxlength="200" /></td>
	</tr>
	<tr class="tdbg">
		<td height="30" align="right">&nbsp;</td>
		<td colspan="5">
			<input type="hidden" name="id" value="<{$affiches.id}>" />

			<input type="submit" value="Modifier" />

			<input type="button" onclick="history.go(-1)" value="Retour" />
		</td>
	</tr>
</table>
</form>
</body>
</html>