<!DOCTYPE html>
<html>
<head>
<title> Home</title>
<link href="./Public/Home/Css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="./Public/Home/Css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!--web-fonts-->
<link href='#css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
<!--js-->
<script src="./Public/Home/Js/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }>
</script>
<meta name="keywords" content="My Charity Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
</head>
<body>
<!--header start here-->
<div class="mothergrid">
	<div class="container">
		<div class="header">
			<div class="logo">
			nom/logo de site
				<!-- <a href="index.html"> <img src="images/logo.png" alt=""/> </a> -->
			</div>
			<span class="menu"> <img src="./Public/Home/Images/icon.png" alt=""/></span>
			<div class="clear"> </div>
			<div class="navg">
				<ul class="res">
				<li><a class="active" href="?c=Index&a=index">Home</a></li>
					<li><a href="?c=Index&a=ProtectMyUT1">Protect My UT1</a></li>
					<li><a href="?c=Index&a=FindMy">Find me</a></li>
					
					<li><a href="?c=Index&a=article">article</a></li>
                                          <li><a class="active" href="?c=Index&a=evenement">Agenda</a></li>
					<li><a href="?c=Index&a=Contactus">Contact us</a></li>
					<li>&emsp;&emsp;&emsp;&emsp;</li>
					<li><a href="?c=User&a=login">s'inscrire/se connecter</a></li>
				</ul>
				 <script>
			                                                      $( "span.menu").click(function() {
			                                                                                        $(  "ul.res" ).slideToggle("slow", function() {
			                                                                                         // Animation complete.
			                                                                                         });
			                                                                                         });
		                                                     </script>
			</div>
		<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--heder end here-->
<!--banner start here-->
<div class="banner">
	<div class="container">
		<div class="banner-main">
			<h1>Bienvenue</h1>
			<p>Ce site a pour but la promotion de l'écocitoyenneté sur les différents sites de l'Université en permettant la collecte, la visualisation et la remontée d'informations en temps réel par les usagers mais aussi la promotion d’activités et de pratiques liées à celle-ci. </p>
		 <div class="bwn">
			<a href="?c=User&a=login"> s'inscrire/se connecter </a>
		</div>
		</div>
	</div>
</div>
<!--banner end here-->
<!--below banner start here-->
<div class="section1">
	   <div class="col-md-4 below-coloum">

	   <!-- <a href="WhatsInMyDish.html"></a>-->

	    <a > </a>

	   </div>
	   <div class="col-md-3 below-grace">
	   </div>	
	   <div class="col-md-5 below-side">
	   <div class="bwn">
			<a href="?c=Index&a=ProtectMyUT1">Protect My UT1 </a>
		</div>

	   </div>	
  <div class="clearfix"> </div>
</div>
<div class="section2">
	 <div class="col-md-7 below-left">
	 	  <div class="below-top">
	 		    <h2>Articles sur l’écologie</h2>
	 		   <div class="bwn">
			      <a href="?c=User&a=article">Afficher la liste des articles </a>
		       </div>			  
	 	  </div>
	 	  <div class="below-bottom">
	 	  </div>
	 		<div class="clearfix"> </div>
	 </div>
	 <div class="col-md-5 below-right">
	 	<div class="bg">
	 	 	 <div class="bwn">
			<a href="?c=User&a=FindMy"> Find My </a>
		</div>
	 	 </div>
	 </div>
	 <div class="clearfix"> </div>
</div>
<!--below banner end here-->
<!--news end here-->
<div class="news">
      <div class="container">
		    <div class="news-main">
				<div class="news-top">
					<h3>L'AGENDA</h3>
				</div>
				<div class="news-bottom">
					<div class="col-md-4 new-left">
					<div class="notch-b">
						<small class="brown">18</small>
					</div>
					 <div class="notch-b-h"> </div>
						<h3>August</h3>
						<h4>Lorem Ipsum is simply</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard unchanged</p>
					 <div class="button-b">
					   	   <a href="?c=Index&a=evenement">Savoir plus</a>
					 </div>
				     <div class="clearfix"> </div>
					</div>
					<div class="col-md-4 new-left">
						<div class="notch">
						    <small>22</small>
					    </div>
					     <div class="notch-h"> </div>
						<h3>September</h3>
						<h4>Lorem Ipsum is simply</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard unchanged</p>
					    <div class="button">
					       <a href="?c=Index&a=evenement">Savoir plus</a>
					   </div>
				     <div class="clearfix"> </div>
					</div>
					<div class="col-md-4 new-left">
						<div class="notch">
						   <small>28</small>
					    </div>
					    <div class="notch-h"> </div>
						<h3>October</h3>
						<h4>Lorem Ipsum is simply</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard unchanged</p>
					   <div class="button">
					   	    <a href="?c=Index&a=evenement">Savoir plus</a>
					   </div>
					 <div class="clearfix"> </div>
				   </div>
				     <div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
		    </div>
	  </div>
</div>

<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' ></script></div>
</body>
</html>