<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="./Public/Admin/Css/public.css" />
<script type="text/javascript" src="./Public/Admin/Js/jquery.js"></script>
<script type="text/javascript" src="./Public/Admin/Js/menu.js"></script>
<title>Left</title>
<base target="main" />
</head>
<body>
<div class="left">
	<div><img src="./Public/Admin/Images/menu_topimg.gif" /></div>
	<div class="title"><b>Menu</b></div>
	<div><img src="./Public/Admin/Images/menu_topline.gif" /></div>
	<div class="content">
		<ul class="menu collapsible">
			<li><a href="#">Catégorie d'article</a>
				<ul class="acitem">
					<li><a href='?c=Categorie&a=add'>Ajouter </a></li>
					<li><a href='?c=Categorie&a=index'>Management </a></li>
				</ul>
			</li>
			<li><a href="#">Article</a>
				<ul class="acitem">
					<li><a href='?c=Article&a=add'>Ajouter</a></li>
					<li><a href='?c=Article&a=index'>Gérer les articles</a></li>
				</ul>
			</li>
                        <li><a href="#">Type d'affiche</a>
				<ul class="acitem">
					<li><a href='?c=TypesAffiche&a=add'>Ajouter </a></li>
					<li><a href='?c=TypesAffiche&a=index'>Management </a></li>
				</ul>
			</li>
                        <li><a href="#">Affiche</a>
				<ul class="acitem">
					<li><a href='?c=Affiche&a=add'>Ajouter</a></li>
					<li><a href='?c=Affiche&a=index'>Gérer les affiches</a></li>  
				</ul>
			</li>
			<li><a href="#">Commentaire d'affiche</a>
				<ul class="acitem">
					<li><a href='?c=Commentaire&a=index'>Gérer les commentaires</a></li>
				</ul>
			</li>
	
			<!--用户管理-->
			<li><a href="#">Utilisateur</a>
				<ul class="acitem">
					<li><a href='?c=User&a=add'>Ajouter</a></li>
					<li><a href='?c=User&a=index'>Gérer les utilisateurs</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div><img src="./Public/Admin/Images/menu_bottomimg.gif" /></div>
</div>
</body>
</html>