<!--<script type="text/javascript">
	
<?php

if(isset($_POST['inscription']))
{
	public function insert()
	{

		
		$this->denyAccess();
		
		$data['mailUser']	= $_POST['mailUser'];
		$data['password']	= md5($_POST['password']);
                $data['nomUser']		= $_POST['nomUser'];
		$data['prenomUser']		= $_POST['prenomUser'];
		$data['mailUser']		= $_POST['mailUser'];
		$data['idTypeUser']		= $_POST['idTypeUser'];

		//verifier si l'utilisateur est deja exsite mailUser='admin'
		if(UserModel::getInstance()->rowCount("mailUser='{$data['mailUser']}'"))
		{
			$this->jump("nom : {$data['mailUser']}est utlisé","?c=User");
		}

		//les 2 mdp soivent coherent
		if($data['password'] != md5($_POST['confirmpwd']))
		{
			$this->jump("les 2 mot de passes doivent cohérents","?c=User");
		}

		//sql exec verifier
		if(UserModel::getInstance()->insert($data))
		{
			$this->jump("reussi","?c=User");
		}else
		{
			$this->jump("pas reussi","?c=User");
		}
	}

}

?>

</script>
-->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">



  </head>

  <body>

<h1 style="text-align:center">Inscription</h1>

<script type="text/javascript">
function SetFocus()
{
	if(document.form1.username.value==""){
		document.form1.username.focus();
	}else{
		document.form1.username.select();
	}
}
</script>

		<div align="center" >
			
			
	<form name="form1" method="post" action="?c=User&a=insert" id="form1" onSubmit="return checkForm();">
		<label>NomUser:</label>
		<input type="text" name="nomUser" placeholder="Entrez votre nom" required><br><br>
		<label>PrenomUser:</label>
		<input type="text" name="prenomUser" placeholder="Entrez votre nom" required><br><br>
		<label>Email:</label>
		<input type="email" name="mailUser" placeholder="Entrez votre email" required><br><br>

		<label>Password:</label>
		<input type="password" name="password" placeholder="Entrez votre password" required><br><br>
                <input type=hidden name ="idTypeUser" value="1" >
		<label>Confirmation du password:</label>
		<input type="password" name="confirmpwd" placeholder="Confirmez votre password" required><br>
		<input type="submit" name="inscription"  value="Je m'inscris">
		<input type=reset value="Reset">
	</form>

</div>

  </body>

</html>

<script language="javascript">

SetFocus();
function checkForm()
{
	//定义用户名、密码正则表达式
	var reg1 = /^(\w{5,15})$/;
	if(!reg1.test(document.form1.username.value))
	{
		alert("pas correct format de nom");
		document.form1.username.focus();
		return false;
	}else if(!reg1.test(document.form1.password.value))
	{
		alert("pas correct format de mot de passe");
		document.form1.password.focus();
		return false;
	}
}
</script>
